# Dependências
node_modules

# Arquivos de Ambiente (Segurança)
.env
.env.local
.env.*.local

# Builds de Produção
dist
build
release
frontend/release

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema Operacional
.DS_Store
Thumbs.db

# IDEs
.vscode
.idea